@charset "utf-8";
/* CSS Document */

/*fonts*/




/*font*/
body{
/*	font-family: 'Segoe Pro Regular';*/
}
.user-phone{
	color: #495057;

	background: rgba(0,0,0,.075);
    padding: 7px 23px;
    border-radius: 91px;
    display: flex;
    justify-content: center;
}
.no-wrap{
  white-space: nowrap;
}


h2{
	font-size: 60px;
	color:#595a5c;
	font-weight: 600;
/*	font-family="SegoeUI-Semibold, Segoe UI"*/
		

}
.skills-container{
	display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}

.skill{
	background: #FEF1E7;
	color: #F67615;
	padding-left:20
	
	
}

.profile-table .dropdown-toggle{
	-webkit-appearance: listbox;
}
.dropleft .dropdown-toggle::before{
	display: none;
}
.cell{
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 13px;
}
.intrests{
	background: #E8E8E8;
	color: #595A5C;
}
.primary-color{
	color: #F67615;
}
.secondary-color{
	color: #595A5C;
}
.line{
	height: 5px;
}
.bg-sec{
	background: #F67615;
}
.the-title{
	font-size: 14px;
}
.the-row, .the-profile-table{
	
    width: 100%;
    padding: 30px;
    border-radius: 20px;
	background: white url("../img/circularbg.svg") no-repeat right top;
	background-position: bottom right;
    background-size: cover;
	box-shadow: 0px 20px 44px -12px rgba(33, 37, 41, 0.35);
}
.social-container .social{
	background: #b3b3b3;
	  border-radius: 50%;
	  color: white;
	  padding: 7px;
  
  }
  .social-container .social:hover{
	background: #007bff;
  
  }
.the-profile-table{
	background: white url("../img/circularbg3.svg") no-repeat right top;
	background-position: bottom right;
    background-size: cover;
}
.the-container{
	min-height: 100vh;
    display: flex;
	background:#F67615 url("../img/circularbg2.svg") no-repeat right top;
}
.profile-container{
	    width: 100%;
    height: 300px;
    /* width: 200px; */
	position: relative;
}
.profile-container img{
	height: 100%;
	border-radius: 50%;
	box-shadow:  0px 20px 44px -12px rgba(246, 118, 21, 0.35);
}
.profile-container:after {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 120%;
	border: 2px solid orange;
	display: block;
	width: auto;
	border-radius: 50%;
	
}
.the-profile-table input{
	padding: 7px 15px;
	border: 1px solid;
	border-color: #adb5bd;
    border-radius: 3px;
}

.profile-table tr td:first-child a{
	height: 50px;
	width: 50px;
	background-color: white;
	overflow: hidden;
}
.profile-table tr td:first-child img{
	transform: scale(1.3);
	width: 100%;
}

.profile-table p{
	font-size: 10;
    font-weight: bold;
    color: #f67614;
}

.h6, h6 {
    font-size: 1.1em;
}

.coming-soon{
	filter: grayscale(1);
	font-family: serif;
	font-size: 5.5rem;
}


@media(max-width:776px)
{
	.profile-container {
    width: 100%;
    height: 150px;
    /* width: 200px; */
    position: relative;
    margin-bottom: 60px;
}
	h2 {
    font-size: 34px;
    color: #595a5c;
    font-weight: 600;
}
	.the-row{
		padding: 15px;
	}
	
}
@media(max-width:990px){
	.profile-container {
    width: 100%;
    height: 180px;
    
}
	
}
